<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <style>
        @media (max-width: 768px) {
    h5 {
        font-size: 18px;
    }

    .card-body {
        padding: 10px;
    }

    .product-card {
        height: 180px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}
        .btn {
border-radius: 8px;
}
        {% block style %} {% endblock %}
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">QuickShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block home_active %} {% endblock %}">
                    <a class="nav-link" href="/" name="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown {% block categories_active %} {% endblock %}">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/electronics" name="electronics">Electronics</a>
                        <a class="dropdown-item" href="/cloths" name="cloths">Cloths</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/shoes" name="shoes">Shoes</a>
                    </div>
                </li>
                <li class="nav-item {% block about_active %} {% endblock %}">
                    <a class="nav-link" href="/about" name="about">About Us</a>
                </li>
                <li class="nav-item {% block contact_active %} {% endblock %}">
                    <a class="nav-link" href="/contact" name="contact">Contact Us</a>
                </li>
            </ul>
            <form method='get' action='/search' class="form-inline my-2 my-lg-0">
                <input name="search" id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}

        <div class="dropdown mx-2">

        <button class="btn btn-success dropdown-toggle"
            type="button"
            data-toggle="dropdown">

        Welcome {{request.user}}

        </button>

        <div class="dropdown-menu">

        <a class="dropdown-item" href="/logout">
            Logout
        </a>

        </div>

        </div>

        {% else %}

        <button class="btn btn-success mx-2"
        data-toggle="modal"
        data-target="#loginModal">

        Login

        </button>

        <button class="btn btn-success mx-2"
        data-toggle="modal"
        data-target="#signupModal">

        Signup

        </button>

        {% endif %}
            <a href="/cart" name="cart" style="color: white">
                <button id="popcart" class="btn btn-secondary mx-2 " data-toggle="popover" data-placement="bottom"
                    data-html="true" data-trigger="hover">
                    Cart(<span id="cart">0</span>)
                </button>
            </a>
        </div>
    </nav>
    
    {% if messages %}
    <div class="container-fluid p-0">

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}
                alert-dismissible fade show"
                 role="alert">

            {{ message }}

            <button type="button"
                class="close"
                data-dismiss="alert">

                <span>&times;</span>

            </button>
        </div>
        {% endfor %}
    </div>

    {% endif %}

    <main class="flex-fill">
        {% block content %} {% endblock %}
    </main>


    <footer class="footer bg-dark text-light opacity-0 transition">
        <div class="footer py-3 mt-0">
            <ul class="nav justify-content-center border-bottom pb-1 mb-1">
                <li class="nav-item"><a href="/" class=" text-white nav-link px-2 py-1  text-body-secondary">Home</a>
                </li>
                <li class="nav-item"><a href="/about"
                        class=" text-white nav-link px-2 py-1  text-body-secondary">About</a>
                </li>
                <li class="nav-item"><a href="/contact"
                        class=" text-white nav-link px-2 py-1  text-body-secondary">Contact</a>
                </li>
                <li class="nav-item"><a href="/about"
                        class=" text-white nav-link px-2 py-1  text-body-secondary">FAQs</a>
                </li>
                <li class="nav-item"><a href="/contact"
                        class=" text-white nav-link px-2 py-1  text-body-secondary">Enquiry</a>
                </li>
            </ul>
            <p class="text-center text-body-secondary mb-0">
                © 2026 | QuickShop, Inc
            </p>
        </div>
    </footer>

    <!-- LOGIN MODAL -->
    <div class="modal fade"
        id="loginModal"
        tabindex="-1">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Login
                    </h5>

                    <button type="button"
                        class="close"
                        data-dismiss="modal">

                    &times;
                    </button>
                </div>

                <div class="modal-body">
                    <form action="/login" method="post">
                    {% csrf_token %}

                        <div class="form-group">
                            <label>Username</label>
                            <input type="text"
                               class="form-control"
                               name="loginusername">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password"
                               class="form-control"
                               name="loginpassword">
                        </div>
                        <button type="submit"
                        class="btn btn-primary">
                        Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- SIGNUP MODAL -->
    <div class="modal fade"
        id="signupModal"
        tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Signup
                    </h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    
                    <form action="/signup" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label>Username</label>
                            <input type="text"
                                class="form-control"
                                name="username">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email"
                                class="form-control"
                                name="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password"
                                class="form-control"
                                name="pass1">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password"
                                class="form-control"
                                name="pass2">
                        </div>
                        <button type="submit"
                                class="btn btn-primary">
                            Signup
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <script>
        document.addEventListener("scroll", () => {
            const footer = document.querySelector(".footer");

            const isBottom =
                window.innerHeight + window.scrollY >=
                document.documentElement.scrollHeight - 10;

            if (isBottom) {
                footer.classList.remove("opacity-0");
                footer.classList.add("opacity-100");
                footer.style.transform = "translateY(0)";
            } else {
                footer.classList.remove("opacity-100");
                footer.classList.add("opacity-0");
                footer.style.transform = "translateY(20px)";
            }
        });
    </script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script> function changeImage(event, src) {
            document.getElementById('mainImage').src = src;
            document.querySelectorAll('.thumbnail').forEach(thumb => thumb.classList.remove('active'));
            event.target.classList.add('active');
        }
    </script>
    

    {% block script %}
    {%endblock%}
</body>

</html>