{% extends "base.html" %}
{% block home_active %} active {% endblock %}

{% block title %} Quick Shop {% endblock %}

{% block style %}
.card {
    border: none;
    transition: 0.3s;
    min-height: 100%;
}
.card-text {
    min-height: 80px;
}

.card:hover {
    transform: translateY(-5px);
}
.carousel {
    width: 100%;
}
.carousel-item {
    padding: 10px 0;
}

.carousel-indicators .active {
background-color: blue;
}

.product-card {
    width: 100%;
    height: 240px;
    object-fit: contain;
    padding: 10px;
}

body .carousel-indicator li{
background-color: blue;
}
.carousel-indicators li {
background-color: #7270fc;
}

body .carousel-indicators{
bottom: -35px;;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}

.carousel-control-prev,
.carousel-control-next {
    width: 8%;
    top: 45%;
}

.carousel-control-prev {
    left: -70px;
}

.carousel-control-next {
    right: -70px;
}

body .no-padding{
padding-left: 0;
padding-right: 0;
}
.product-card {
height: 100%;
}

.product-card{
height: 220px;
object-fit: contain;
}
.card-body a{
color : black
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h5 class="my-4">Flash Sale On {{product.0.category}} - Recommended Items</h5>
    <div class="my-4">
    <div id="demo{{forloop.counter}}" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                {% endfor %}
            </ul>
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active">
                    <div class="row">
                    {% for i in product %}
                    <div class="col-6 col-md-3">
                        <div class="card align-items-center h-100 shadow-sm m-2">
                            <a href="{% url 'prodView' i.id %}"><img src="{% static i.image %}"
                                    class="card-img-top product-card m-2" alt="..."></a>
                            <div class="card-body">
                                <a href="{% url 'prodView' i.id %}">
                                    <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
                                </a>
                                <p class="card-text">{{i.desc|slice:"0:53"}}...</p>
                                <h6 class="card-title">Price: <span id="pricepr{{i.id}}">{{i.price}}</span></h6>
                                <span id="divpr{{i.id}}" class="divpr">
                                    <button
    id="pr{{ i.id }}"
    class="btn btn-primary cart"
    data-id="{{ i.id }}"
    data-name="{{ i.product_name }}"
    data-price="{{ i.price }}"
    data-category="{{ i.category }}"
    data-image="{% static i.image %}">
    Add To Cart
</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
</div>
</div>

<div class="carousel-item">
<div class="row">
{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- left and right controls for the slide -->
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
    // Find out the cart items from localStorage
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);
    }

    $('.divpr').on('click', 'button.cart', function () {
        let id = this.id.replace('pr', '');

        if (cart[id]) {
            cart[id][0]++;
        } else {
            cart[id] = [
                1,
                this.dataset.name,
                parseInt(this.dataset.price),
                this.dataset.category,
                this.dataset.image
            ];
        }

        localStorage.setItem('cart', JSON.stringify(cart));
        updateCart(cart);
    });




    $(function () {
        $('#popcart').popover({
            trigger: 'hover',
            html: true,
            content: 'Your cart is empty'
        });
    });

    function updatePopover(cart) {
        let popStr = "<h6>Your Cart</h6><div class='mx-2 my-2'>";
        let i = 1;

        for (let id in cart) {
            popStr += `<b>${i}</b>. ${cart[id][1]} (Qty: ${cart[id][0]})<br>`;
            i++;
        }

        $('#popcart').attr('data-content', popStr);
    }

    if (localStorage.getItem('cart') != null) {
        cart = JSON.parse(localStorage.getItem('cart'));
        updatePopover(cart);
    }

    function updateCart(cart) {
        let sum = 0;

        for (let id in cart) {
            sum += cart[id][0];

            let div = document.getElementById('divpr' + id);
            if (!div) continue;   // prevents crash

            div.innerHTML = `
            <button id="minus${id}" class="btn btn-primary minus">-</button>
            <span id="val${id}">${cart[id][0]}</span>
            <button id="plus${id}" class="btn btn-primary plus">+</button>
        `;
        }

        document.getElementById('cart').innerText = sum;
        updatePopover(cart);
    }


    // If plus or minus button is clicked, change the cart as well as the display value
    $('.divpr').on('click', 'button.minus', function () {
        let id = this.id.replace('minus', '');

        cart[id][0]--;

        if (cart[id][0] <= 0) {
            delete cart[id];
            document.getElementById('divpr' + id).innerHTML =
                `<button id="pr${id}" class="btn btn-primary cart">Add To Cart</button>`;
        } else {
            document.getElementById('val' + id).innerText = cart[id][0];
        }

        localStorage.setItem('cart', JSON.stringify(cart));
        updateCart(cart);
    });



    $('.divpr').on('click', 'button.plus', function () {
        let id = this.id.replace('plus', '');
        cart[id][0]++;

        document.getElementById('val' + id).innerText = cart[id][0];
        localStorage.setItem('cart', JSON.stringify(cart));
        updateCart(cart);
    });


</script>

{% endblock %}